root = true

[*]
charset = utf-8
insert_final_newline = true
trim_trailing_whitespace = true

[*.{kt,kts}]
indent_size = 4
ktlint_code_style = android
ktlint_standard_no-wildcard-imports = disabled
ktlint_standard_import-ordering = disabled

